[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest
[submodule "dependencies/json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json
