[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest
[submodule "dependencies/json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json
[submodule "dependencies/SDL"]
	path = dependencies/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "dependencies/SDL_Image"]
	path = dependencies/SDL_Image
	url = https://github.com/libsdl-org/SDL_image.git